
@media screen and (min-width:769px){
	
	.header_div_m{
		display: none;
	}
	.header_div_m_left_show{
		display: none;
	}
	.header_div_m_left_show_shop{
		display: none;
	}
	.header_div_m_left_show_shop_login{
		display: none;
	}
.nav_nav{
	position: fixed;
	top: 0px;
}
.show{
	display: block;
}
header{
    position: relative;
	z-index: 999;
	left: 50%;
	margin-left: -50%;
	width: 100%;
	/*overflow: hidden;*/
	height:0.35rem;
	background-color: #101010;
	opacity: 0.9;
}
.header_div{
	width:96%;
	height: 0.35rem;
	margin:0px auto;
	/*overflow: hidden; */
}
.header_content{
	width: 100%;
	/*overflow: hidden;*/
	height:0.35rem;
}
.header_logo{
	position:absolute;
    left: 50%;
	margin-left:-40%;
	width:0.8rem;
	height:0.3rem;
	margin-top:0.025rem;
}
.header_logo img{
	display:inline-block;
	width:0.6rem;
	height:0.2rem;
	margin:0.05rem 0.1rem; 

	
}
.header_nav{
	position:absolute;
	left: 50%;
	margin-left:-29%;
	width: 30%;
	height:0.3rem;
	margin-top:0.025rem; 
	
}
.header_nav nav{
	display: block;
	width:1.8rem;
	height:0.2rem;
	margin: 0.05rem auto 0.05rem 0.05rem;
	overflow: hidden;
}
.header_nav ul{
	display: block;
	width:1.8rem;
	height:0.2rem;
	list-style-type: none;
	margin:auto 0px; 
}
.header_nav li{
	display: block;
	width: 0.5rem;
	height: 0.13rem;
	margin:0.022rem auto;
	float: left;
	/*margin-left: 0.1rem;*/
	/*margin-right: 0.5rem;*/
}
.margin_left{
	margin-left: 0.2rem;
}
.header_nav h1{
	display: block;
	width: 0.5rem;
	height: 0.13rem;
	margin:0rem auto; 
}
.header_nav a{
	text-transform:uppercase;
	font-weight: bold;
	text-decoration: none;
	display: block;
	width: 0.5rem;
	height: 0.13rem;
	line-height: 0.13rem;
	text-align: center;
	font-size: 0.045rem;
	margin:auto 0rem; 
	color: white;
}
.header_nav a:link{
	color: white;
}
.header_nav a:hover{
	color: white;
}
.header_nav a:visited{
	color: white;
}
.header_nav a:active{
	color: white;
}
.header_nav h1:hover{
	border-radius:0.025rem; 
	background-color: #f90;
}
.header_your{
	position: absolute;
	right: 50%;
    margin-right: -30%;
	/*width: 2rem;*/
	width: 250px;
	height:0.3rem;
    margin-top: 0.025rem; 
}
.header_your_first_ul{
    list-style-type: none;
	display:block;
	width: 250px;
	height: 0.2rem;
	margin: 0.05rem auto ;
	

}
.header_your_first_ul>li{
	float: left;
	display:block;
	width:120px;
	height: 0.1rem;
	margin: 0.05rem auto;
}
.header_your_first_ul_h1one,.header_your_first_ul_h1two{
	display: inline;
	width: 120px;
	height: 0.1rem;
	/*margin: 0.05rem auto;*/
	border-top-left-radius: 0.03rem;
	border-top-right-radius: 0.03rem;
}

.header_your_first_ul_h1one>a{
	text-transform: uppercase;
	display: block;
	width: 120px;
	height: 0.1rem;
	line-height: 0.1rem;
	    font-size: 0.04rem;
	text-decoration:none;
	text-align: center;
	color: #fff; 
	   border-top-left-radius: 0.03rem;
	border-top-right-radius: 0.03rem;
}

.header_your_first_ul_h1one>a:hover{
 
	/*border-bottom:1px solid #ffba61; */
	color: #fff; 
	/*background-color: #f90;*/
}

.header_your_first_ul_h1one b{
	
	font-size: 10px;
	clear: both;
}





.header_your_first_ul_div{
	border: 1px solid #ccc;
	border-top:0.015rem solid #f90;
	border-top-right-radius: 0.01rem;
	/*margin-top:-0.05rem;*/
	
	width: 200px;
	height: 0.4rem;
	background-color: #fff;
   display: none;
}
.header_your_first_ul_div>h2{
	display:block;
	width: 130px;
	height:0.15rem;
	color: #000;
	background-color:#ffba61; 
	border: 1px solid #ffba61;
	border-radius: 4px;
	margin: 0.06rem auto auto;
	
}
.header_your_first_ul_div h2 a{
	display:block;
	width: 130px;
	height:0.15rem;
	line-height: 0.15rem;
	text-align: center;
	color: #000;
	/*background-color:#ffba61; */
	margin: auto;
	font-size: 0.05rem;
	text-decoration: none;
	color: #fff;
	border-radius: 4px;
	
}
.header_your_first_ul_div p{
   margin-top: 0.05rem;
   display: block;
   width: 100%;
   height: 0.1rem;

}
.header_your_first_ul_div p span{
   margin-left: 0.1rem;
   
   
}
.header_your_first_ul_div p a{
   
   color: #ffba61;
   
   
}


/*after login hidden person info*/
.header_your_first_ul_div_hidden{
	border: 1px solid #ccc;
	border-top:0.015rem solid #f90;
	border-top-right-radius: 0.01rem;
	width: 200px;
	height: 0.5rem;
	background-color: #fff;
	display: none;
}
.header_your_first_ul_div_hidden_ul{
	list-style-type: none;
	width: 200px;
	height: 0.5rem;
}
.header_your_first_ul_div_hidden_ul>li{
	
	width: 200px;
	height: 0.1rem;
	
}
.header_your_first_ul_div_hidden_ul a{
    display: block;	
	width: 200px;
	height: 0.1rem;
	line-height: 0.1rem;
	font-size: 0.05rem;
	text-decoration: none;
	color: #444;
	text-transform: capitalize;

	
}



.header_your_first_ul_h1two>a{
	text-transform: uppercase;
	display: block;
	width: 120px;
	height: 0.1rem;
	line-height: 0.1rem;
	    font-size: 0.04rem;
	text-decoration:none;
	text-align: center;
	color: #fff; 
	 border-top-left-radius: 0.03rem;
	border-top-right-radius: 0.03rem;
}
.header_your_first_ul_h1two>a:hover{

	/*border-bottom:1px solid #ffba61; */
	color: #fff; 
	/*background-color: #f90;*/
}
.header_your_first_ul_h1two b{
   font-size: 10px;
}
.header_your_first_ul_ul_first{
	list-style-type: none;
	clear: both;
	border: 1px solid #ccc;
	border-top:0.015rem solid #f90;
	border-top-left-radius: 0.01rem;
	/*margin-top:-0.05rem;*/
	display: block;
	width: 150px;
	height: 0.5rem;
	background-color: #fff;
	margin-left: -30px;
	/*display: none;*/

}
.header_your_first_ul_ul_first>li{
	width: 150px;
	height: 0.15rem;
}

.header_your_first_ul_ul_first>li a{
	display:block;
	width: 150px;
	height: 0.15rem;
	line-height: 0.15rem;
	text-align: center;
	margin: 0px auto;
	color: #555;
}

.header_your_first_ul_ul_first>li a:hover{
	
	color: #f90;
}
.header_your_first_ul_ul_sec{
	list-style-type: none;
	clear: both;
	border: 1px solid #ccc;
	/*border-top:0.015rem solid #f90;
	border-top-left-radius: 0.01rem;*/
	margin-top:-0.05rem;
	display: block;
	width: 150px;
	height: 0.3rem;
	background-color: #fff;
	margin-left: -30px;
}
.header_your_first_ul_ul_sec>li{
	width: 150px;
	height: 0.15rem;
	line-height: 0.15rem;
	text-align: center;
	margin: 0px auto;
	color: #555;
}
.header_your_first_ul_ul_sec_hidden{
	list-style-type: none;
	clear: both;
	border: 1px solid #ccc;
	/*border-top:0.015rem solid #f90;
	border-top-left-radius: 0.01rem;*/
	margin-top:-0.05rem;
	display: block;
	width: 150px;
	height: 0.45rem;
	background-color: #fff;
	margin-left: -30px;
}
.header_your_first_ul_ul_sec_hidden>li{
	width: 150px;
	height: 0.15rem;
	line-height: 0.15rem;
	text-align: center;
	margin: 0px auto;
	color: #555;
	text-transform: capitalize; 
}
.header_your_first_ul_ul_sec_hidden a{
	width: 150px;
	height: 0.15rem;
	line-height: 0.15rem;
	text-align: center;
	margin: 0px auto;
	color: #555;
	text-transform: none;
}
.header_your_first_ul_ul_sec_hidden a:hover{
	text-decoration: underline;
	color: #f90;
}
.header_your_first_ul_ul_third{
	list-style-type: none;
	clear: both;
	border: 1px solid #ccc;
	display: block;
	width: 150px;
	height: 0.3rem;
	background-color: #fff;
	margin-left: -30px;
	/*display: none;*/

}
.header_your_first_ul_ul_third>li{
	width: 150px;
	height: 0.15rem;
}

.header_your_first_ul_ul_third>li a{
	display:block;
	width: 150px;
	height: 0.15rem;
	line-height: 0.15rem;
	text-align: center;
	margin: 0px auto;
	color: #555;
}
.header_your_first_ul_ul_third>li a:hover{
color: #f90;
}
.iconfont_yellow{
	color: #f90;
}
.opacity{
  opacity: 0.8;	
}
.header_your_first_ul_h1two_div{
	display: none;
}

.header_your_first_ul_h1two_div_hidden{
	display: none;
}
.header_your_first_ul_ul_first_hidden{
	list-style-type: none;
	clear: both;
	border: 1px solid #ccc;
	border-top:0.015rem solid #f90;
	border-top-left-radius: 0.01rem;
	/*margin-top:-0.05rem;*/
	display: block;
	width: 150px;
	height: 0.5rem;
	background-color: #fff;
	margin-left: -30px;
	/*display: none;*/

}
.header_your_first_ul_ul_first_hidden>li{
	width: 150px;
	height: 0.15rem;
}

.header_your_first_ul_ul_first_hidden>li a{
	display:block;
	width: 150px;
	height: 0.15rem;
	line-height: 0.15rem;
	text-align: center;
	margin: 0px auto;
	color: #555;
}

.header_your_first_ul_ul_first_hidden>li a:hover{
	
	color: #f90;
}
.header_your_first_ul_ul_sec_hidden{
	list-style-type: none;
	clear: both;
	border: 1px solid #ccc;
	/*border-top:0.015rem solid #f90;
	border-top-left-radius: 0.01rem;*/
	margin-top:-0.05rem;
	display: block;
	width: 150px;
	height: 0.5rem;
	background-color: #fff;
	margin-left: -30px;
}

.header_your_first_ul_ul_sec_hidden>li{
	width: 150px;
	height: 0.15rem;
	line-height: 0.15rem;
	text-align: center;
	margin: 0px auto;
	color: #555;
	text-transform: capitalize; 
}
.header_your_first_ul_ul_sec_hidden a{
	width: 150px;
	height: 0.15rem;
	line-height: 0.15rem;
	text-align: center;
	margin: 0px auto;
	color: #555;
	text-transform: none;
}
.header_your_first_ul_ul_sec_hidden a:hover{
	text-decoration: underline;
	color: #f90;
}
.header_your_first_ul_ul_third_hidden{
	list-style-type: none;
	clear: both;
	border: 1px solid #ccc;
	display: block;
	width: 150px;
	height: 0.3rem;
	background-color: #fff;
	margin-left: -30px;
	/*display: none;*/

}
.header_your_first_ul_ul_third_hidden>li{
	width: 150px;
	height: 0.15rem;
}

.header_your_first_ul_ul_third_hidden>li a{
	display:block;
	width: 150px;
	height: 0.15rem;
	line-height: 0.15rem;
	text-align: center;
	margin: 0px auto;
	color: #555;
}
.header_your_first_ul_ul_third_hidden>li a:hover{
color: #f90;
}


/*parts of search*/
.header_search{
	position: absolute;
	left: 50%;
	margin-left: 32%;
    height: 0.3rem;
    width: 0.3rem;
    margin-top: 0.025rem;
   
}
.header_search_ul{
	list-style-type: none;
	clear: both;
	display: block;
	width: 0.3rem;
	height: 0.3rem;	
}
.header_search_ul>li{
	width: 0.3rem;
	height: 0.2rem;
	margin: 0.05rem auto;	
}
.header_search_ul i{
	display: block;
	height: 0.2rem;
	line-height: 0.2rem;
	font-size: 0.1rem;
	color: #fff;
	cursor: pointer;
	opacity: 0.9;
	　-moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    user-select: none;
}
.header_search_ul b{
	text-align: center;
	font-size: 0.1rem;
	-moz-user-select: none; /*火狐*/

    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    user-select: none;
	
}
.iconfont_div{
	width: 300px;
	height: 50px;
	margin-left: -260px;
	border: 4px solid #ddd;
	border-radius: 10px;
	background-color: #fff;
	overflow: hidden;
	display: none;
}
.iconfont_div>input{
	display: inline-block;
	outline: 0px;
	border: 0px;
	width: 80%;
	height:40px;
	float: left;
	margin-left: 1%;	
}
.iconfont_div>button{
	float: right;
	width: 19%;
	height:100%;
	outline: 0px;
	border: 0px;
	color: #f90;
	display: inline-block;
}

.header_shop{
	position: absolute;
	left: 50%;
	margin-left:34%;
	width: 10%;
	height: 0.3rem;
	/*background-color: red;*/
	margin-top: 0.025rem;
}
.header_shop_message{
	width: 0.3rem;
	height: 0.08rem;
	margin:0px auto;
	color:#f08804;
	font-size: 0.055rem;
	font-weight: bold;
	
}
.header_shop_car{
	width: 0.4rem;
	height: auto;
	margin:0px auto;
}
.header_shop_car>i{
	display: block;
	width: 0.2rem;
	height: 0.1rem;
	line-height: 0.1rem;
	/*margin:0px auto;*/
	color:#fff;
	font-size: 0.13rem;
	cursor: pointer;
	　-moz-user-select: none; /*火狐*/

    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    user-select: none;
}
.header_shop_car_message{
	width: 1.3rem;
	height:0.5rem;
	border: 0.005rem solid #ddd;
	border-top:0.035rem solid #f90;
	border-radius: 0.035rem;
	margin-left: -1.15rem;
	margin-top: 0.03rem;
	background-color: #eee;
	display: none;
}
.header_shop_car_message_i{
	    cursor: pointer;
	    font-size: 0.05rem;
    margin-top: 0.01rem;
    margin-right: 0.05rem;
    color: #aaa;
}
.header_shop_car_message_i:hover{
	color: #f90;
}

.header_shop_car_message_div{
	width: 1rem;
	height:0.3rem;
	margin:0.08rem 0.05rem; 
}
.header_shop_car_message_div p{
	display:block;
	width: 1rem;
	height:0.3rem;
	text-align: center;
	line-height: 0.15rem;	
}






/*login hidden cart*/





.header_shop_car_message_hidden{
	width:440px;
	height:600px;
	border: 0.002rem solid #ddd;
	border-top:0.035rem solid #f90;
	border-radius: 0.035rem;
	margin-left: -400px;
	margin-top: 0.05rem;
	background-color: #eee;
	overflow-y: scroll;
	overflow-x:hidden; 
	display: none;
}
.header_shop_car_message_hidden_b{
	
	width: 390px;
    height: 30px;
    line-height: 30px;
    margin-top: 18px;

}
.header_shop_car_message_hidden_b>b{
	cursor: pointer;
	font-size: 18px;
    color: #aaa;
    font-weight: bold;
}
.header_shop_car_message_hidden_b>b:hover{
	color: #f90;
}
.header_shop_car_message_hidden_top{
	width: 390px;
	height:90px;
	margin:18px auto; 
}

.header_shop_car_message_hidden_div_first{
   width: 360px;
	height:30px;
   margin: 0px auto;
   /*background-color: red;*/
}
.header_shop_car_message_hidden_div_first>h1{
	display:inline-block;
  width: 120px;
	height:30px;
   line-height: 30px;
   font-size:15px; 
  margin-top: 0px ;
   text-transform: capitalize;
   text-align: center;
}
.header_shop_car_message_hidden_div_first>a{
   display:inline-block;
    width: 120px;
	height:30px;
   line-height: 30px;
   font-size:15px; 
   color: #f90;
   margin-top: 0px ;
   text-transform: capitalize;
   text-align: center;
}
.header_shop_car_message_hidden_div_first>h2{
	display:inline-block;
    width: 120px;
	height:30px;
   line-height: 30px;
   font-size:22px; 
   margin-top: 0px ;
   text-transform: capitalize;
   text-align: center;
   font-weight: bold;

}
.header_shop_car_message_hidden_div_sec{
    width: 390px;
	height:60px;
 
   margin-top: 15px;
  /* background-color: red;*/
}
.header_shop_car_message_hidden_div_sec>h1{
   display: block;
   width: 180px;
   height: 45px;
   float: left;
   margin-top: 0px;
 

}
.header_shop_car_message_hidden_div_sec>h1 a{
   display: block;
   width: 180px;
   height: 45px;
   line-height: 45px;
   color: #fff;
   font-size: 18px;
   text-align: center;
   background-color: #f90;
   border-radius: 6px; 
}
.header_shop_car_message_hidden_div_sec>h2{
   display: block;
   width: 150px;
   height: 45px;
   margin-left: 6px;
   float: left;
   margin-top: 0px;
}
.header_shop_car_message_hidden_div_sec>h2 a{
   display: block;
   width: 150px;
   height: 45px;  
}

.header_shop_car_message_hidden_div_sec>h2 img{
   display: block;
   width: 150px;
   height: 45px;
  
   
}
.header_shop_car_message_hidden_div_sec>h3{
   display: block;
  width: 30px;
   height: 45px;
  float: left; 
  margin-left: 6px;
  margin-top: 0px;
}
.header_shop_car_message_hidden_div_sec>h3 a{
   display: block;
   width: 30px;
   height: 45px;
   line-height: 45px;
   font-size: 25px;
 text-align: center;
 color: #333;
 text-decoration: none;
}

.header_shop_car_message_hidden_div_sec>h3 a:hover{

 color: #f90;

}

.header_shop_car_message_hidden_div{
	width: 420px;
	height:330px;
	margin:0px auto; 
}
.header_shop_car_message_hidden_div_details{
	width: 390px;
	height:330px;
	margin: 0px auto;
	overflow: hidden;
	/*background-color: blue;*/
}
.header_shop_car_message_hidden_div_details_img{
	width: 390px;
	height:180px;
	margin: 0px auto;
	overflow: hidden;
}
.header_shop_car_message_hidden_div_details_img>a{
	display: block;
	width: 390px;
	height:180px;
	margin: 0px auto;
	
	
}
.header_shop_car_message_hidden_div_details_img>a img{
	display: block;
	width: 390px;
	height:180px;

	
}
.header_shop_car_message_hidden_div_details_message{
	width: 390px;
	height:150px;
	/*background-color: red;*/
	margin: 0px auto;
	overflow: hidden;
}
.header_shop_car_message_hidden_div_details_message_left{
	float: left;
	width: 150px;
	height:150px;
	/*background-color: red;*/
	margin: 0px auto;
	margin-left: 15px;
	overflow: hidden;
}
.header_shop_car_message_hidden_div_details_message_left>a{
	display: block;
	width: 150px;
	height:36px;
	line-height: 36px;
	font-size: 16px;
	color: #f90;
	
}
.header_shop_car_message_hidden_div_details_message_left>p{
	display: block;
	width: 150px;
	height: 30px;
	font-size: 24px;
	color: #222;
	cursor: pointer;
	
}
.header_shop_car_message_hidden_div_details_message_left>span{
	display: block;
	width: 150px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: #666;
	cursor: pointer;
	
}
.header_shop_car_message_hidden_div_details_message_left>a:hover{
	text-decoration: underline;
	color: #f90;
	
}
.header_shop_car_message_hidden_div_details_message_rights{
	float: right;
	width: 150px;
	height: 150px;
	/*background-color: red;*/
	margin: 0px auto;
	overflow: hidden;
}
.header_shop_car_message_hidden_div_details_message_rights>h1{
	display: block;
	width:150px;
	height: 36px;
	line-height: 36px;
	margin: 0px auto;
	overflow: hidden;
	font-size: 15px;
	cursor: pointer;
	text-transform: capitalize;

}
.header_shop_car_message_hidden_div_details_message_rights>h2{
	display: block;
	width: 150px;
	height: 30px;
	margin: 0px auto;
	overflow: hidden;
	font-size: 16px;
	cursor: pointer;
	text-transform: capitalize;
	
}
.header_shop_car_message_hidden_div_details_message_rights i{
	
	font-size: 18px;
	
}
.header_shop_car_message_hidden_div_details_message_rights>div{
	display: block;
	width: 150px;
	height: 75px;
	margin: 0px auto;
	display: block;	
}
.header_shop_car_message_hidden_div_details_message_rights h3{
	display: block;
	width: 150px;
	height: 30px;
	margin: 0px auto;	
	font-size: 21px;
	cursor: pointer;
}
.header_shop_car_message_hidden_div_details_message_rights h4{
	display: block;
	width: 150px;
	height: 75px;
	margin: 0px auto;	
	font-size: 18px;
cursor: pointer;
}
.header_shop_car_message_hidden_div_btn{
	width: 360px;
	height: 60px;
	margin: 0px auto;
	border:1px solid #ccc;
}
.header_shop_car_message_hidden_div_btn>a{
	display: block;
	width: 360px;
	height: 60px;
	line-height: 60px;
	font-size: 15px;
	text-align: center;
	color: #f90;
}


}



