/*feature_glasses*/
/*@media screen and (min-width: 1691px) and (max-width: 1700px){
    .pg_PLP_women_out_ul>li,.pg_PLP_men_out_ul>li,.pg_PLP_kids_out_ul>li{
    width:30.5%

    }
    .pg_PLP_women_in_ul_jpg,.pg_PLP_men_in_ul_jpg,.pg_PLP_kids_in_ul_jpg{
      
      height:0.60rem;
     
    }
  }*/
.pg_PLP_women_in_ul_prices_small,.pg_PLP_women_in_ul_name_small,.pg_PLP_men_in_ul_prices_small,.pg_PLP_men_in_ul_name_small,.pg_PLP_kids_in_ul_prices_small,.pg_PLP_kids_in_ul_name_small{
  display:none;
}
.pg_PLP {
  width: 100%;
}
.pg_PLP_title {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #777;
  line-height: 80px;
  font-weight: 600;
  font-size: 28px;
  color:#101010
}
.pg_PLP_carousel {
  width: 100%;
  margin: 0;
  padding: 0;
}
.pg_PLP_up {
  width: 60%;
  margin: 0 auto;
}
.pg_plp_up_tab_left {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}
.pg_plp_up_tab_left p {
  width: 0.34rem;
  margin: 0 auto;
  line-height: 30px;
  border-bottom: 3px solid #ccc;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  cursor: pointer;
}
.pg_plp_up_tab_left p:hover {
  color: #ff9900;
  border-bottom: 3px solid #f90;
}
.pg_plp_up_tab_middle {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}
.pg_plp_up_tab_middle p {
  width: 0.34rem;
  margin: 0 auto;
  line-height: 30px;
  border-bottom: 3px solid #ccc;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  cursor: pointer;
}
.pg_plp_up_tab_middle p:hover {
  color: #ff9900;
  border-bottom: 3px solid #f90;
}
.pg_plp_up_tab_right {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}
.pg_plp_up_tab_right p {
  width: 0.34rem;
  margin: 0 auto;
  line-height: 30px;
  border-bottom: 3px solid #ccc;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  cursor: pointer;
}
.pg_plp_up_tab_right p:hover {
  color: #ff9900;
  border-bottom: 3px solid #f90;
}
.pg_PLP_down_all {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
.pg_plp_down_all_left {
  float: left;
  width: 10%;
  font-size: 30px;
}
.pg_PLP_down {
  width: calc(80%);
  height: 1.15rem;
  margin: 0 auto;
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  float: left;
}
.pg_plp_down_all_right {
  float: right;
  width: 10%;
  text-align: right;
  font-size: 30px;
}
#pg_plp_down_all_right_icon {
  font-size: 50px !important;
  line-height: 1.11rem;
  text-align: right;
  color: #cccccc;
  cursor: pointer;
}
#pg_plp_down_all_left_icon {
  font-size: 50px !important;
  line-height: 1.11rem;
  color: #cccccc;
  visibility: hidden;
  cursor: pointer;
}
.pg_PLP_women {
  width: 100%;
  height: 1.11rem;
  position: absolute;
  top: 0;
  left: 0;
}
.pg_PLP_men {
  width: 100%;
  height: 1.11rem;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.pg_PLP_kids {
  width: 100%;
  height: 1.11rem;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.pg_PLP_women_out_ul {
  width: 100%;
  height: 1.11rem;
  overflow: hidden;
  white-space: nowrap;
}
.pg_PLP_women_out_ul > li {
  width: 31%;
  height: 1.1rem;
  border: 1px solid #ccc;
  list-style: none;
  margin: 0 17px;
  border-radius: 5px;
  transition: 0.3s;
  display: inline-block;
}
.pg_PLP_women_out_ul > li:hover {
  box-shadow: 4px 3px 13px #999;
}
.pg_PLP_men_out_ul {
  width: 100%;
  height: 1.11rem;
  overflow: hidden;
  white-space: nowrap;
}
.pg_PLP_men_out_ul > li {
  width: 31%;
  height: 1.1rem;
  border: 1px solid #ccc;
  list-style: none;
  margin: 0 17px;
  border-radius: 5px;
  transition: 0.3s;
  display: inline-block;
}
.pg_PLP_men_out_ul > li:hover {
  box-shadow: 4px 3px 13px #999;
}
.pg_PLP_kids_out_ul {
  width: 100%;
  height: 1.11rem;
  overflow: hidden;
  white-space: nowrap;
}
.pg_PLP_kids_out_ul > li {
  width: 31%;
  height: 1.1rem;
  border: 1px solid #ccc;
  list-style: none;
  margin: 0 17px;
  border-radius: 5px;
  transition: 0.3s;
  display: inline-block;
}
.pg_PLP_kids_out_ul > li:hover {
  box-shadow: 4px 3px 13px #999;
}
.pg_PLP_women_in_ul {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.pg_PLP_women_in_ul > li {
  width: 100%;
  list-style: none;
  display: inline-block;
}
.pg_PLP_men_in_ul {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.pg_PLP_men_in_ul > li {
  width: 100%;
  list-style: none;
  display: inline-block;
}
.pg_PLP_kids_in_ul {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.pg_PLP_kids_in_ul > li {
  width: 100%;
  list-style: none;
  display: inline-block;
}
.pg_PLP_women_in_ul_jpg {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 0.7rem;
}
.pg_PLP_men_in_ul_jpg {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 0.7rem;
}
.pg_PLP_kids_in_ul_jpg {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 0.7rem;
}
.pg_PLP_women_in_ul_point {
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
  text-align: justify;
}
.pg_PLP_women_in_ul_point div {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: inline-block;
  margin-left: 6px;
  margin-right: 6px;
  transition: 0.5s;
}
.pg_PLP_women_in_ul_point div:nth-child(1) {
  margin-left: 6px;
  margin-right: 6px;
  border: 1px solid black;
}
.pg_PLP_women_in_ul_point div span {
  display: block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  background: #000;
  border-radius: 50%;
  margin-left: 3px;
  margin-top: 3px;
}
.pg_PLP_women_in_ul_point div:hover {
  border: 1px solid black;
}
.pg_PLP_men_in_ul_point {
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
}
.pg_PLP_men_in_ul_point div {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: inline-block;
  margin-left: 6px;
  margin-right: 6px;
  transition: 0.5s;
}
.pg_PLP_men_in_ul_point div:nth-child(1) {
  margin-left: 6px;
  margin-right: 6px;
  border: 1px solid black;
}
.pg_PLP_men_in_ul_point div span {
  display: block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  background: #000;
  border-radius: 50%;
  margin-left: 2px;
  margin-top: 2px;
}
.pg_PLP_men_in_ul_point div:hover {
  border: 1px solid black;
}
.pg_PLP_kids_in_ul_point {
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
}
.pg_PLP_kids_in_ul_point div {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: inline-block;
  margin-left: 6px;
  margin-right: 6px;
  transition: 0.5s;
}
.pg_PLP_kids_in_ul_point div:nth-child(1) {
  margin-left: 6px;
  margin-right: 6px;
  border: 1px solid black;
}
.pg_PLP_kids_in_ul_point div span {
  display: block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  background: #000;
  border-radius: 50%;
  margin-left: 2px;
  margin-top: 2px;
}
.pg_PLP_kids_in_ul_point div:hover {
  border: 1px solid black;
}
.pg_PLP_women_in_ul_name {
  color: #000000;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}
.pg_PLP_men_in_ul_name {
  color: #000000;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}
.pg_PLP_kids_in_ul_name {
  color: #000000;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}
.pg_PLP_women_in_ul_prices {
  color: #000000;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
}
.pg_PLP_men_in_ul_prices {
  color: #000000;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
}
.pg_PLP_kids_in_ul_prices {
  color: #000000;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
}
.pg_PLP_button {
  width: 0.63rem;
  border: 1px solid #101010;
  height: 38px;
  border-radius: 2.5px;
  margin: 0 auto;
  margin-top: 0.128rem;
  text-align: center;
  background: #3b3b3b;
  color: #ffffff;
  transition: 1s;
  margin-bottom: 30px;
}
.pg_PLP_button a {
  display: block;
  width: 100%;
  height: 36px;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.05rem;
  text-align: center;
  line-height: 38px;
  color: #ffffff;
  transition: 0.5s;
}
.pg_PLP_button:hover a {
  background: #fff;
  color: #3b3b3b;
}
.pg_PLP_women_in_ul_li {
  display: inline-block;
}
/*.pg_PLP_women_in_ul{
	padding-left:0px !important;
}*/
@media screen and (min-width: 0px) and (max-width: 590px) {
  #pg_plp_down_all_right_icon {
    font-size: 40px !important;
  }
  #pg_plp_down_all_left_icon {
    font-size: 40px !important;
  }
}
@media screen and (min-width: 1673px) and (max-width: 1700px) {
  .pg_PLP_women_out_ul > li {
    width: 30.5%;
  }
  .pg_PLP_men_out_ul > li {
    width: 30.5%;
  }
  .pg_PLP_kids_out_ul > li {
    width: 30.5%;
  }
  .pg_PLP_women_in_ul_jpg {
    height: 0.60rem;
  }
  .pg_PLP_men_in_ul_jpg {
    height: 0.60rem;
  }
  .pg_PLP_kids_in_ul_jpg {
    height: 0.60rem;
  }
}
@media screen and (min-width: 1401px) and (max-width: 1672px) {
  .pg_PLP_women_out_ul > li {
    width: 30%;
  }
  .pg_PLP_men_out_ul > li {
    width: 30%;
  }
  .pg_PLP_kids_out_ul > li {
    width: 30%;
  }
  .pg_PLP_women_in_ul_jpg {
    height: 0.60rem;
  }
  .pg_PLP_men_in_ul_jpg {
    height: 0.60rem;
  }
  .pg_PLP_kids_in_ul_jpg {
    height: 0.60rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .pg_PLP_women_out_ul > li {
    width: 30%;
  }
  .pg_PLP_men_out_ul > li {
    width: 30%;
  }
  .pg_PLP_kids_out_ul > li {
    width: 30%;
  }
  .pg_PLP_women_in_ul_jpg {
    height: 0.5rem;
  }
  .pg_PLP_men_in_ul_jpg {
    height: 0.5rem;
  }
  .pg_PLP_kids_in_ul_jpg {
    height: 0.5rem;
  }
}
@media screen and (min-width: 0px) and (max-width: 1199px) {
  .pg_PLP_women_out_ul {
    height: 1.8rem;
  }
  .pg_PLP_women_out_ul > li {
    width: 46%;
    height: 1.8rem;
  }
  .pg_PLP_women_out_ul > li > div {
    height: 1.8rem !important;
  }
  .pg_PLP_men_out_ul {
    height: 1.8rem;
  }
  .pg_PLP_men_out_ul > li {
    width: 46%;
    height: 1.8rem;
  }
  .pg_PLP_men_out_ul > li > div {
    height: 1.8rem !important;
  }
  .pg_PLP_kids_out_ul {
    height: 1.8rem;
  }
  .pg_PLP_kids_out_ul > li {
    width: 46%;
    height: 1.8rem;
  }
  .pg_PLP_kids_out_ul > li > div {
    height: 1.8rem !important;
  }
  .pg_PLP_women_in_ul_jpg {
    height: 1rem;
  }
  .pg_PLP_men_in_ul_jpg {
    height: 1rem;
  }
  .pg_PLP_kids_in_ul_jpg {
    height: 1rem;
  }
  .pg_PLP_down {
    height: 1.85rem;
  }
  #pg_plp_down_all_right_icon {
    line-height: 1.8rem;
  }
  #pg_plp_down_all_left_icon {
    line-height: 1.8rem;
  }
  .pg_PLP_women {
    height: 1.8rem;
  }
  .pg_PLP_men {
    height: 1.8rem;
  }
  .pg_PLP_kids {
    height: 1.8rem;
  }
}
@media screen and (min-width: 761px) and (max-width: 895px) {
  .pg_PLP_women_out_ul > li {
    width: 44%;
  }
  .pg_PLP_men_out_ul > li {
    width: 44%;
  }
  .pg_PLP_kids_out_ul > li {
    width: 44%;
  }
  .pg_PLP_women_in_ul_jpg {
    height: 0.9rem;
  }
  .pg_PLP_men_in_ul_jpg {
    height: 0.9rem;
  }
  .pg_PLP_kids_in_ul_jpg {
    height: 0.9rem;
  }
}
@media screen and (min-width: 681px) and (max-width: 760px) {
  .pg_PLP_women_out_ul > li {
    width: 44%;
  }
  .pg_PLP_men_out_ul > li {
    width: 44%;
  }
  .pg_PLP_kids_out_ul > li {
    width: 44%;
  }
  .pg_PLP_women_in_ul_jpg {
    height: 0.8rem;
  }
  .pg_PLP_men_in_ul_jpg {
    height: 0.8rem;
  }
  .pg_PLP_kids_in_ul_jpg {
    height: 0.8rem;
  }
}
@media screen and (min-width: 0px) and (max-width: 961px){
  .pg_PLP_women_out_ul>li,.pg_PLP_men_out_ul>li,.pg_PLP_kids_out_ul>li{
    border:0px;
  }
  .pg_PLP_women_out_ul > li:hover ,.pg_PLP_men_out_ul>li:hover,.pg_PLP_kids_out_ul>li:hover{
  box-shadow: 0px 0px 0px ;
}

}
@media screen and (min-width: 0px) and (max-width: 680px) {

  .pg_PLP_women_out_ul>li,.pg_PLP_men_out_ul>li,.pg_PLP_kids_out_ul>li{
    border:0px;
  }
  .pg_PLP_women_out_ul > li:hover ,.pg_PLP_men_out_ul>li:hover,.pg_PLP_kids_out_ul>li:hover{
  box-shadow: 0px 0px 0px ;
}
  .pg_PLP_women_in_ul_jpg,.pg_PLP_men_in_ul_jpg,.pg_PLP_kids_in_ul_jpg{
    height: 2.0rem;
  }
  .pg_PLP_women_in_ul_point,.pg_PLP_men_in_ul_point,.pg_PLP_kids_in_ul_point{
    margin-top:0px;
  }
  .pg_PLP_women_in_ul_name,.pg_PLP_men_in_ul_name,.pg_PLP_kids_in_ul_name{
    margin-bottom: 0px;
  }
  .pg_PLP_women_in_ul_prices,.pg_PLP_men_in_ul_prices,.pg_PLP_kids_in_ul_prices{
    margin-bottom: 0px;

  }
  #pg_plp_down_all_right_icon,#pg_plp_down_all_left_icon{
    font-size: 30px !important;
  }

  .pg_PLP_title{
    width:80%;
  }
  .pg_PLP_up{
    width:80%;
  }
  .pg_plp_up_tab_left p{
    width:80px;
  }
  .pg_PLP_women_out_ul {
    height: 4.3rem;
  }
  .pg_PLP_women_out_ul > li {
    width: 90%;
    height: 3.6rem;
  }
  .pg_PLP_women_out_ul > li > div {
    height: 4.3rem !important;
  }
  .pg_PLP_men_out_ul {
    height: 4.3rem;
  }
  .pg_PLP_men_out_ul > li {
    width: 90%;
    height: 4.3rem;
  }
  .pg_PLP_men_out_ul > li > div {
    height: 4.3rem !important;
  }
  .pg_PLP_kids_out_ul {
    height: 4.3rem;
  }
  .pg_PLP_kids_out_ul > li {
    width: 90%;
    height: 3.6rem;
  }
  .pg_PLP_kids_out_ul > li > div {
    height:4.3rem !important;
  }
  .pg_PLP_women_in_ul_jpg {
    height: 2rem;
  }
  .pg_PLP_men_in_ul_jpg {
    height: 2rem;
  }
  .pg_PLP_kids_in_ul_jpg {
    height: 2rem;
  }
  .pg_PLP_down {
    height: 4.3rem;
  }
  #pg_plp_down_all_right_icon {
    line-height: 3.6rem;
  }
  #pg_plp_down_all_left_icon {
    line-height: 3.6rem;
  }
  .pg_PLP_women {
    height: 3.6rem;
  }
  .pg_PLP_men {
    height: 3.6rem;
  }
  .pg_PLP_kids {
    height: 3.6rem;
  }
  .pg_PLP_button{
    margin-top:0px;
  }
}
@media screen and (min-width: 550px) and (max-width: 680px) {
  .pg_PLP_down {
    height: 3.3rem;
  }
  .pg_PLP_women_out_ul {
    height: 3.2rem;
  }
  .pg_PLP_women_out_ul > li {
    height: 3.2rem;
  }
  .pg_PLP_women_out_ul > li > div {
    height: 3.2rem !important;
  }
  .pg_PLP_men_out_ul {
    height: 3.2rem;
  }
  .pg_PLP_men_out_ul > li {
    height: 3.2rem;
  }
  .pg_PLP_men_out_ul > li > div {
    height: 3.2rem !important;
  }
  .pg_PLP_kids_out_ul {
    height: 3.2rem;
  }
  .pg_PLP_kids_out_ul > li {
    height: 3.2rem;
  }
  .pg_PLP_kids_out_ul > li > div {
    height: 3.2rem !important;
  }
  #pg_plp_down_all_right_icon {
    line-height: 3.2rem;
  }
  #pg_plp_down_all_left_icon {
    line-height: 3.2rem;
  }
  .pg_PLP_women {
    height: 3.2rem;
  }
  .pg_PLP_men {
    height: 3.2rem;
  }
  .pg_PLP_kids {
    height: 3.2rem;
  }
}
@media screen and (min-width: 430px) and (max-width: 549px) {
  .pg_PLP_down {
    height: 2.9rem;
    margin-top: 20px;
  }
  .pg_PLP_women_out_ul {
    height: 3.6rem;
  }
  .pg_PLP_women_out_ul > li {
    height: 3.6rem;
  }
  .pg_PLP_women_out_ul > li > div {
    height: 3.6rem !important;
  }
  .pg_PLP_men_out_ul {
    height: 3.6rem;
  }
  .pg_PLP_men_out_ul > li {
    height: 3.6rem;
  }
  .pg_PLP_men_out_ul > li > div {
    height: 3.6rem !important;
  }
  .pg_PLP_kids_out_ul {
    height: 3.6rem;
  }
  .pg_PLP_kids_out_ul > li {
    height: 3.6rem;
  }
  .pg_PLP_kids_out_ul > li > div {
    height: 3.6rem !important;
  }
  #pg_plp_down_all_right_icon {
    line-height: 3.6rem;
  }
  #pg_plp_down_all_left_icon {
    line-height: 3.6rem;
  }
  .pg_PLP_women {
    height: 3.6rem;
  }
  .pg_PLP_men {
    height: 3.6rem;
  }
  .pg_PLP_kids {
    height: 3.6rem;
  }
}
@media screen and (min-width: 0px) and (max-width: 330px) {
   .pg_PLP_women_in_ul_jpg,.pg_PLP_men_in_ul_jpg,.pg_PLP_kids_in_ul_jpg{
    height: 2.0rem;
  }
  .pg_PLP_down {
    height: 4.1rem;
  }
  .pg_PLP_women_out_ul {
    height: 3.9rem;
  }
  .pg_PLP_women_out_ul > li {
    height: 3.9rem;
  }
  .pg_PLP_women_out_ul > li > div {
    height: 3.9rem !important;
  }
  .pg_PLP_men_out_ul {
    height: 3.9rem;
  }
  .pg_PLP_men_out_ul > li {
    height: 3.9rem;
  }
  .pg_PLP_men_out_ul > li > div {
    height: 3.9rem !important;
  }
  .pg_PLP_kids_out_ul {
    height: 3.9rem;
  }
  .pg_PLP_kids_out_ul > li {
    height: 3.9rem;
  }
  .pg_PLP_kids_out_ul > li > div {
    height: 3.9rem !important;
  }
  #pg_plp_down_all_right_icon {
    line-height: 3.9rem;
  }
  #pg_plp_down_all_left_icon {
    line-height: 3.9rem;
  }
  .pg_PLP_women {
    height: 3.9rem;
  }
  .pg_PLP_men {
    height: 3.9rem;
  }
  .pg_PLP_kids {
    height: 3.9rem;
  }
}
@media screen and (min-width: 451px) and (max-width: 587px) {
  .pg_PLP_women_in_ul_jpg {
    height: 2rem;
  }
  .pg_PLP_men_in_ul_jpg {
    height: 2rem;
  }
  .pg_PLP_kids_in_ul_jpg {
    height: 2rem;
  }
}
@media screen and (min-width: 400px) and (max-width: 450px) {
  .pg_PLP_women_in_ul_jpg {
    height: 2.2rem;
  }
  .pg_PLP_men_in_ul_jpg {
    height: 2.2rem;
  }
  .pg_PLP_kids_in_ul_jpg {
    height: 2.2rem;
  }
}
@media screen and (min-width: 0px) and (max-width: 399px) {
  .pg_PLP_women_in_ul_jpg {
    height: 2.2rem;
    margin-top: 15px;
  }
  .pg_PLP_men_in_ul_jpg {
    height: 2.2rem;
    margin-top: 15px;
  }
  .pg_PLP_kids_in_ul_jpg {
    height: 2.2rem;
    margin-top: 15px;
  }
  .pg_PLP_women_in_ul_point {
    margin-top: 0px;
  }
  .pg_PLP_men_in_ul_point {
    margin-top: 0px;
  }
  .pg_PLP_kids_in_ul_point {
    margin-top: 0px;
  }
}
@media screen and (min-width: 0px) and (max-width: 1200px) {
  .pg_PLP_button a {
    display: block;
    width: 100%;
    height: 36px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    line-height: 38px;
    color: #ffffff;
    transition: 0.5s;
  }
}
@media only screen and (max-width: 1360px) {
  .pg_PLP_button {
    width: 154px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 1130px) {
  .pg_plp_up_tab_left p {
    width: 80px;
  }
  .pg_plp_up_tab_middle p {
    width: 80px;
  }
  .pg_plp_up_tab_right p {
    width: 80px;
  }
}

@media screen and (min-width: 0px) and (max-width: 430px){
  .pg_plp_up_tab_right p,.pg_plp_up_tab_left p,.pg_plp_up_tab_middle p{
    font-size: 14px;
    line-height: 36px;
  }
  .pg_PLP_title{
    line-height: 74px;
  }
  .pg_plp_down_all_right,.pg_plp_down_all_left  {
    line-height: 4.3rem;
    font-weight: 700;
  }
  /*.pg_PLP_button{*/
    /*margin-top:20px;*/
  /*}*/
  .women_in_ul_point{
    margin-top: 10px;
  }
  .pg_plp_down_all_left {
    width: 8%;
  }
.pg_PLP_down {
    width: calc(84%);
  }
.pg_plp_down_all_right {
    width: 8%;
  }
.pg_PLP_women_in_ul_prices,.pg_PLP_men_in_ul_prices,.pg_PLP_kids_in_ul_prices{
    margin-bottom: 0px;
    font-weight: 400 !important;
  }
#pg_plp_down_all_right_icon,#pg_plp_down_all_left_icon{
    font-size: 26px !important;
  }

}


@media screen and (min-width: 0px) and (max-width: 333px) {
  .pg_plp_up_tab_left p, .pg_plp_up_tab_middle p, .pg_plp_up_tab_right p {
    font-size: 13px;
  }
  .pg_plp_up_tab_middle{
    width:129px;
  }
  .pg_plp_up_tab_middle p{
    margin-left: 44px;
    margin-right: 5px;
  }
  .pg_PLP_down,.pg_PLP_women,.pg_PLP_women_out_ul,.pg_PLP_women_out_ul > li > div, .pg_PLP_down,.pg_PLP_men,.pg_PLP_men_out_ul,.pg_PLP_men_out_ul > li > div, .pg_PLP_down,.pg_PLP_kids,.pg_PLP_kids_out_ul,.pg_PLP_kids_out_ul > li > div{
    height:4.4rem !important;
    padding-bottom: 0px;
  }
  .pg_PLP_button{
    margin-top: 33px;
    margin-bottom: 23px;
  }



}
@media screen and (min-width: 560px) and (max-width: 600px){
  .pg_plp_up_tab_middle{
    width:66%;
  }
}
@media screen and (min-width: 510px) and (max-width: 559px){
  .pg_plp_up_tab_middle{
    width:64%;
  }
}
@media screen and (min-width: 0px) and (max-width: 509px){
  .pg_plp_up_tab_middle{
    width:61%;
  }
}
@media screen and (min-width: 334px) and (max-width: 600px) {
  .pg_plp_up_tab_left p, .pg_plp_up_tab_middle p, .pg_plp_up_tab_right p {
    font-size: 13px;
  }
  .pg_plp_up_tab_middle p{
    margin-left: 37%;
    margin-right: 5px;
  }
}

@media screen and (min-width: 0px) and (max-width: 990px){
  .pg_PLP_women_in_ul_prices_small,.pg_PLP_women_in_ul_name_small,.pg_PLP_men_in_ul_prices_small,.pg_PLP_men_in_ul_name_small,.pg_PLP_kids_in_ul_prices_small,.pg_PLP_kids_in_ul_name_small{
    display:block;
  }
  .pg_PLP_women_in_ul_prices_small,.pg_PLP_men_in_ul_prices_small,.pg_PLP_kids_in_ul_prices_small{
    width:100%;
    margin: 0 auto;
    color:#000;
    font-size: 20px;
    font-weight: 400 !important;
    text-align: center;
  }
  .pg_PLP_women_in_ul_name_small,.pg_PLP_men_in_ul_name_small,.pg_PLP_kids_in_ul_name_small{
    width:100%;
    margin: 0 auto;
    color:#000;
    font-size: 14px;
    text-align: center;
  }
  .pg_PLP_women_in_ul_prices,.pg_PLP_women_in_ul_name, .pg_PLP_men_in_ul_prices,.pg_PLP_men_in_ul_name, .pg_PLP_kids_in_ul_prices,.pg_PLP_kids_in_ul_name{
    display:none;
  }
  .pg_plp_up_tab_middle p,.pg_plp_up_tab_right p{
    width:70px;
  }
}
@media screen and (min-width: 400px) and (max-width: 550px){
  .pg_PLP_down{
    height:3.6rem;
  }
  .unique_software{
    margin-top:0.1rem !important;
  }
  .pg_plp_down_all_right, .pg_plp_down_all_left{
    height:4.1rem;
  }
  .pg_PLP_down_all{
    margin-top: 20px;
  }
}

@media screen and (min-width: 1700px) and (max-width: 1840px){
  .pg_PLP_women_out_ul > li , .pg_PLP_men_out_ul > li, .pg_PLP_kids_out_ul > li{
    width:30.5%;
  }
}

