/*widget_double*/
.widget_down_all {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
  margin-top: 0.15rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.smarter img {
  width: 100%;
  height: auto;
}
.added img {
  width: 100%;
  height: auto;
}
.widget_down_smarter {
  width: 100%;
  text-align: center;
}
.smarter_img {
  position: relative;
  display: block;
}
.added_img {
  position: relative;
  display: block;
}
.smarter_img_div {
  width: 80%;
  position: absolute;
  top: 0.064rem;
  left: 10%;
  text-align: center;
}
.smarter_img_div strong {
  font-size: 25px;
  color:#3b3b3b;

}
.smarter_img_div p {
  margin-top: 0.05rem;
  font-size: 16px;
  color: #777777;
  line-height: 20px;
}
.added_img_div {
  width: 80%;
  position: absolute;
  top: 0.064rem;
  left: 10%;
  text-align: center;
}
.added_img_div strong {
  font-size: 25px;
  color:#3b3b3b;

}
.added_img_div p {
  margin-top: 0.05rem;
  font-size: 16px;
  color: #777777;
  line-height: 20px;
}
@media screen and (min-width: 0px) and (max-width: 700px) {
  .smarter{
    padding:0;
  }
  .smarter_img{
    display: block;
    width:100%;


  }
  .added{
    padding:0;
  }
  .added_img{
    display: block;
    width:100%;


  }
  .smarter_img_div {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 0.064rem;
    left: 0%;
    text-align: center;
    margin: 0 auto;
  }
  .smarter_img_div p {
    width:90%;
    margin-top: 0.05rem;
    font-size: 13px;
    color: #777777;
    line-height: 16px;
    margin: 0 auto;
  }
  .added_img_div {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 0.064rem;
    left: 0%;
    text-align: center;
  }
  .added_img_div p {
    width:90%;
    margin: auto;
    margin-top: 0.05rem;
    font-size: 13px;
    color: #777777;
    line-height: 16px;
  }
  .smarter_img_div strong {
    font-size: 25px;

  }
  .added_img_div strong {
    font-size: 25px;

  }
}
@media screen and (min-width: 321px) and (max-width: 420px){
  .widget_down_all{
    margin-top: 22px;
  }
}
@media screen and (min-width: 0px) and (max-width: 320px){
  .widget_down_all{
    margin-top: 25px;
  }


}
