
<div class='widget'>
	<div class="widget_div_img">
		<img src="{{ pm_global.property.static_url.text }}{{ data.banner.image }}" alt="" class='widget_banner '>
	</div>
	<div class='widget_button container'>
		<div class='widget_button_small row'>
			<div class='col-lg-4 col-md-4 col-sm-4 col-xs-3'></div>
			<div class='widget_button_small_left col-lg-2 col-md-2 col-sm-2 col-xs-3' >
				<p>
					<a href="{{ pm_global.property.base_url.text }}/eyeglasses/women.html">
						<span>SHOP WOMEN</span>
					
						<i class="iconfont widget_button_left_icon" >&#xe790;</i>
					</a>
				</p>
			</div>
			<div class='widget_button_small_right col-lg-2 col-md-2 col-sm-2 col-xs-3'>
				<p>
					<a href="{{ pm_global.property.base_url.text }}/eyeglasses/men.html">
						<span>SHOP MAN</span>
						<i class="iconfont widget_button_right_icon" >&#xe790;</i>
					</a>
				</p>
			</div>
			<div class='col-lg-4 col-md-4 col-sm-4 col-xs-3'></div>
		</div>
	</div>
</div>

