<div class='pg_PLP'>
	<h3 class='pg_PLP_title'>
		Featured Glasses
	</h3>
	<div class='pg_PLP_carousel container'>
		<div class='pg_PLP_up row'>
			<div class='pg_plp_up_tab_left col-ld-1 col-md-1 col-sm-2 col-xs-2'>
				<p>WOMEN</p>
				
			</div>
			<div class='pg_plp_up_tab_middle col-ld-10 col-md-10 col-sm-8 col-xs-8'>
				<p>MEN</p>
				
			</div>
			<div class='pg_plp_up_tab_right col-ld-1 col-md-1 col-sm-2 col-xs-2'>
				<p>KIDS</p>
				
			</div>
		</div>



		<div class='pg_PLP_down_all'>
			<div class='pg_plp_down_all_left '>
				<i class="iconfont " id="pg_plp_down_all_left_icon">&#xe67c;
				</i>
			</div>

			<div class='pg_PLP_down'>


				<!-------- PLP WOMEN START ---------->
					<div class="pg_PLP_women">
						
						<ul class='pg_PLP_women_out_ul'>
							{% for brand in data.featured_glasses.women %}
							 <li>
			                    <div style="overflow:hidden;height:1.1rem">

									
			                        <ul class='pg_PLP_women_in_ul' id="women{{brand.brandname}}">
									{% for product in brand.list %}
			                          <li class='pg_PLP_women_in_ul_li'>
			                            <a href="{{product.url}}">
			                              <img src="{{product.img}}" alt="" class='pg_PLP_women_in_ul_jpg'>
			                            </a>
			                          </li>
									{% endfor %}
			                        </ul>

			                        <div  class="pg_PLP_women_in_ul_point" style="text-align:center;">
			                        {% for product in brand.list %}
			                          <div productname="{{product.productname}}"
										   price="{{product.price}}"
										   onclick="imgchange('women','{{brand.brandname}}',this)" style="cursor:pointer">
			                            <span style="background:{{ product.color}};"></span>
			                          </div>
			                         {% endfor %}
			                        </div>
			                        
			                        <p  class="pg_PLP_women_in_ul_name" id="womenproduct{{brand.brandname}}">{{brand.list[0].productname}}</p>
			                        <p  class="pg_PLP_women_in_ul_prices" style="font-weight:600;" id="womenprice{{brand.brandname}}">${{brand.list[0].price}}</p>

			                    </div>

							</li>
							{% endfor %}
							
						</ul>
					</div>

				<!-------- PLP WOMEN END ---------->


				<!-------- PLP MEN START ---------->
					<div class="pg_PLP_men">

						<ul class='pg_PLP_men_out_ul'>
							{% for brand in data.featured_glasses.men %}
							 <li>
			                    <div style="overflow:hidden;height:1.1rem">
			                        <ul class='pg_PLP_men_in_ul' id="men{{brand.brandname}}">
									{% for product in brand.list %}
			                          <li class='pg_PLP_men_in_ul_li'>
			                            <a href="{{product.url}}">
			                              <img src="{{product.img}}" alt="" class='pg_PLP_men_in_ul_jpg'>
			                            </a>
			                          </li>
									{% endfor %}
			                        </ul>

			                        <div  class="pg_PLP_men_in_ul_point" style="text-align:center;">
			                        {% for product in brand.list %}
			                          <div  productname="{{product.productname}}"
										   price="{{product.price}}"
											  onclick="imgchange('men','{{brand.brandname}}',this)"  style="cursor:pointer">
			                            <span style="background:{{ product.color}};"></span>
			                          </div>
			                         {% endfor %}
			                        </div>

			                        <p  class="pg_PLP_men_in_ul_name" id="menproduct{{brand.brandname}}">{{brand.list[0].productname}}</p>
			                        <p  class="pg_PLP_men_in_ul_prices" style="font-weight:600;" id="menprice{{brand.brandname}}">${{brand.list[0].price}}</p>

			                    </div>

							</li>
							{% endfor %}

						</ul>
					</div>

				<!-------- PLP MEN END ---------->

					<div class="pg_PLP_kids">

						<ul class='pg_PLP_kids_out_ul'>
							{% for brand in data.featured_glasses.kids %}
							 <li>
			                    <div style="overflow:hidden;height:1.1rem">
			                        <ul class='pg_PLP_kids_in_ul' id="kids{{brand.brandname}}">
									{% for product in brand.list %}
			                          <li class='pg_PLP_kids_in_ul_li'>
			                            <a href="{{product.url}}">
			                              <img src="{{product.img}}" alt="" class='pg_PLP_kids_in_ul_jpg'>
			                            </a>
			                          </li>
									{% endfor %}
			                        </ul>

			                        <div  class="pg_PLP_kids_in_ul_point" style="text-align:center;">
			                        {% for product in brand.list %}
			                          <div  productname="{{product.productname}}"
										   price="{{product.price}}"
											  onclick="imgchange('kids','{{brand.brandname}}',this)" style="cursor:pointer">
			                            <span style="background:{{ product.color}};"></span>
			                          </div>
			                         {% endfor %}
			                        </div>

			                        <p  class="pg_PLP_kids_in_ul_name" id="kidsproduct{{brand.brandname}}">{{brand.list[0].productname}}</p>
			                        <p  class="pg_PLP_kids_in_ul_prices" style="font-weight:600;" id="kidsprice{{brand.brandname}}">${{brand.list[0].price}}</p>

			                    </div>

							</li>
							{% endfor %}

						</ul>
					</div>



				<!-------- PLP KIDS END ---------->
							
			</div>

			<div class='pg_plp_down_all_right '>
				<i class="iconfont " id='pg_plp_down_all_right_icon'>&#xe658;
				</i>
			</div>
		</div>
	
		<div class='pg_PLP_button'>
			<a href="{{ pm_global.property.base_url.text }}eyeglasses/women.html">SHOP ALL WOMEN</a>
		</div>
	</div>
</div>

<script>
		//------------------------------------------------------------------tab change
	$(".pg_plp_up_tab_left p").css({"color":'#f90',"border-bottom":"3px solid #f90"})
	$(".pg_plp_up_tab_left p").mouseenter(function(){
		index=0
		$('.pg_PLP_women_out_ul>li').css('margin-left','17px')
		$(this).css({"color":'#f90',"border-bottom":"3px solid #f90"});
		$(this).parent().siblings().children().css({"color":'#ccc',"border-bottom":"3px solid #ccc"})
		$('.pg_PLP_button a').text('SHOP ALL WOMEN');
		$('.pg_PLP_button a').attr('href',"{{ pm_global.property.base_url.text }}eyeglasses/women.html");
		$(".pg_PLP_women").fadeIn("slow").siblings().fadeOut("slow");
		$('#pg_plp_down_all_left_icon').css("visibility",'hidden');
	});
	$(".pg_plp_up_tab_middle p").mouseenter(function(){
		index=0
		$('.pg_PLP_men_out_ul>li').css('margin-left','17px')
		$(this).css({"color":'#f90',"border-bottom":"3px solid #f90"});
		$(this).parent().siblings().children().css({"color":'#ccc',"border-bottom":"3px solid #ccc"})
		$('.pg_PLP_button a').text('SHOP ALL MEN');
		$('.pg_PLP_button a').attr('href',"{{ pm_global.property.base_url.text }}eyeglasses/men.html");
		$(".pg_PLP_men").fadeIn("slow").siblings().fadeOut("slow");
		$("#pg_plp_down_all_left_icon").css("visibility",'hidden')
	});
	$(".pg_plp_up_tab_right p").mouseenter(function(){
		index=0
		$('.pg_PLP_kids_out_ul>li').css('margin-left','17px')
		$(this).css({"color":'#f90',"border-bottom":"3px solid #f90"});
		$(this).parent().siblings().children().css({"color":'#ccc',"border-bottom":"3px solid #ccc"})
		$('.pg_PLP_button a').text('SHOP ALL KIDS');
		$('.pg_PLP_button a').attr('href',"{{ pm_global.property.base_url.text }}eyeglasses/kids.html");
		$(".pg_PLP_kids").fadeIn("slow").siblings().fadeOut("slow");
		$('#pg_plp_down_all_left_icon').css("visibility",'hidden')
	});
//-----------------------------------------------click icon left and right chang big img
	$("#pg_plp_down_all_right_icon").on("click",function(){
	    console.log(2)
		var new_text=$('.pg_PLP_button').text().trim();
		switch(new_text){
			case "SHOP ALL WOMEN":
				move_ul_right("pg_PLP_women_out_ul");
			break;
			case "SHOP ALL MEN":
				move_ul_right("pg_PLP_men_out_ul");
			break;
			case "SHOP ALL KIDS":
				move_ul_right("pg_PLP_kids_out_ul");
			break;
		}
	});
	function move_ul_right(name){
		var liQ=$("."+name).children("li").length;
		var obj=$("."+name).children("li")[0];
		var width_li=parseInt($(obj).css("width").split("px")[0]);
		var li_margin=parseInt($(obj).css("margin-right").split("px")[0])*2+4;
		var now_marginleft=parseInt($(obj).css('margin-left').split("px")[0]);
		if($(window).width()<=680){
			if(index<liQ-1){
			index++;
			$(obj).stop().animate({"margin-left":-index*(width_li+li_margin)+li_margin/2},50);
			}
			if(index==(liQ-1)){
				$("#pg_plp_down_all_right_icon").css("visibility","hidden")
			}
		}else if(1199>=$(window).width()  && $(window).width()>681){
			if(index<liQ-2){
			index++;
			$(obj).stop().animate({"margin-left":-index*(width_li+li_margin)+li_margin/2},50);
			}
			if(index==(liQ-2)){
				$("#pg_plp_down_all_right_icon").css("visibility","hidden")
			}
		}else if($(window).width()>1200){
			if(index<liQ-3){
			index++;
			$(obj).stop().animate({"margin-left":-index*(width_li+li_margin)+li_margin/2},50);
			}
			if(index==(liQ-3)){
				$("#pg_plp_down_all_right_icon").css("visibility","hidden")
			}
		}

		$("#pg_plp_down_all_left_icon").css("visibility","visible")
	}





	$("#pg_plp_down_all_left_icon").on("click",function(){
		var new_text=$('.pg_PLP_button').text().trim();
		switch(new_text){
			case "SHOP ALL WOMEN":
				move_ul_left("pg_PLP_women_out_ul");
			break;
			case "SHOP ALL MEN":
				move_ul_left("pg_PLP_men_out_ul");
			break;
			case "SHOP ALL KIDS":
				move_ul_left("pg_PLP_kids_out_ul");
			break;
		}
	});
	function move_ul_left(name){
		var obj=$("."+name).children("li")[0];
		var liQ=$("."+name).children("li").length;
		var width_li=parseInt($(obj).css("width").split("px")[0]);
		var li_margin=parseInt($(obj).css("margin-right").split("px")[0])*2+4;
		var now_marginleft=parseInt($(obj).css('margin-left').split("px")[0]);
		if(index>0){
			index--
			$(obj).stop().animate({"margin-left":-index*(width_li+li_margin)+li_margin/2},50);
		}
		$("#pg_plp_down_all_right_icon").css("visibility","visible")
		if(index==0){
			$("#pg_plp_down_all_left_icon").css("visibility","hidden")
		}
	}






	$(window).resize(function(){
   			//var now_li=parseInt($(".pg_PLP_down div ul li")[0].css("width").split("px"))
   			var now_li=$(".pg_PLP_down div ul li")[0];
   			var now_li_width=parseInt($(now_li).css("width").split("px"));
   			var now_li_margin=parseInt($(now_li).css("margin-right").split("px"));
   			// console.log($(now_li).css("margin-left"))
   			// console.log(-index*(now_li_width+now_li_margin*2)+now_li_margin)
   			$(now_li).css('margin-left',-index*(now_li_width+now_li_margin*2)+now_li_margin);
});




	//swipe

	$(".pg_PLP_down").on("swipeleft",function(){
	    console.log(1)
			var new_text=$('.pg_PLP_button').text().trim();
			switch(new_text){
				case "SHOP ALL WOMEN":
					move_ul_right("pg_PLP_women_out_ul");
				break;
				case "SHOP ALL MEN":
					move_ul_right("pg_PLP_men_out_ul");
				break;
				case "SHOP ALL KIDS":
					move_ul_right("pg_PLP_kids_out_ul");
				break;
			}
		})
	$(".pg_PLP_down").on("swiperight",function(){
	    console.log(1)
			var new_text=$('.pg_PLP_button').text().trim();
			switch(new_text){
				case "SHOP ALL WOMEN":
					move_ul_left("pg_PLP_women_out_ul");
				break;
				case "SHOP ALL MEN":
					move_ul_left("pg_PLP_men_out_ul");
				break;
				case "SHOP ALL KIDS":
					move_ul_left("pg_PLP_kids_out_ul");
				break;
			}
		})
</script>