
<div class="footer_down">
	<div class="footer_down_content">
		<ul>
			<li class="footer_down_content_out_li_one">
				<ul>
					<li class="footer_down_content_sign_li">
						<a href="https://www.facebook.com/payneglasses" class="footer_down_content_sign_li_a_frist">
							<i class="iconfont" id="footer_down_content_icon_frist">&#xe676;</i>
						</a>
					</li>
					<li class="footer_down_content_sign_li footer_down_content_sign_li_second " >
						<a href="https://twitter.com/payneglasses" class="footer_down_content_sign_li_a footer_down_content_sign_li_a_second">
							<i class="iconfont" id="footer_down_content_icon_second">&#xe9be;</i>
						</a>
					</li>
					<li class="footer_down_content_sign_li">
						<a href="https://www.instagram.com/payneglasses" class="footer_down_content_sign_li_a_third">
							<i class="iconfont" id="footer_down_content_icon_thrid">&#xe8f1;</i>
						</a>
					</li>
					<li class="footer_down_content_sign_li">	
						<a href="https://pinterest.com/payneglasses" class="footer_down_content_sign_li_a_four">
							<i class="iconfont" id="footer_down_content_icon_four">&#xe7bd;</i>
						</a>
					</li>
				</ul>
				
			</li>
			<li class="footer_down_content_out_li_two">
				<p>
					<i class="iconfont " >&#xe674;</i>
					<span>{{data.footer_down.email.name}}</span>
					<a href="{{data.footer_down.email.url}}">{{data.footer_down.email.text}}</a>
				</p>
			</li>
			<li class="footer_down_content_out_li_three">
				<p>
					<i class="iconfont " >&#xe645;</i>
					<span>{{data.footer_down.call.name}}</span>
					<a href="{{data.footer_down.email.url}}">{{data.footer_down.call.text}}</a>
				</p>
			</li>
			<li class="footer_down_content_out_li_four">
				<p>
					<i class="iconfont " >&#xe693;</i>
					<span>{{data.footer_down.text.name}}</span>
					<a href="{{data.footer_down.text.url}}">{{data.footer_down.text.text}}</a>
				</p>
			</li>
			<li class="footer_down_content_out_li_five">
				<p>
					<i class="iconfont " >&#xe627;</i>
					<span>{{data.footer_down.chat.name}}</span>
					<a href="">{{data.footer_down.chat.text}}</a>
				</p>
			</li>
		</ul>
		<div class="footer_down_p_left">
			<p class="footer_down_p_left_left">{{data.footer_down.copyright.text}}</p>
			<p class="footer_down_p_left_right">
				<a href="{{data.footer_down.terms.url}}">{{data.footer_down.terms.name}}</a>
				<span>|</span>
				<a href="{{data.footer_down.privacy.url}}">{{data.footer_down.privacy.name}}</a>
			</p>
		</div>
		<div>
			<div class="footer_down_all">
				<a href="https://secure.comodo.com/ttb_searcher/trustlogo?v_querytype=W&v_shortname=CL1&v_search={{ pm_global.property.base_url.text }}&x=6&y=5" class="footer_down_img">
					<img src="{{ pm_global.property.static_url.text }}/images/secure.png" alt="" class="footer_down_img_small">
				</a>
				<div class="footer_down_img_hidden">
					<div class="footer_down_img_hidden_up">	
						<p class="footer_down_img_hidden_up_title">Comodo Secure Website</p>
						<p class="footer_down_img_hidden_up_p">Website Warranty uo to $250,000</p>
					</div>
					<div class="footer_down_img_hidden_down">
						<img src="{{ pm_global.property.static_url.text }}/images/comodo-secure.png" alt="" class="footer_down_img_hidden_down_left_img">
							<p style="padding-top:8px;padding-bottom:8px;">
								<a href="https://www.payneglasses.com/" style="color:#66a400;text-decoration:none">https://www.payneglasses.com/</a>
								<img src="{{ pm_global.property.static_url.text }}/images/logo.gif" alt="">
							</p>
							<p style="line-height:14px">This website uses a Comodo SSL</p>
							<p style="line-height:14px">certificate to protect online</p>
							<p style="line-height:14px">transactions with the heighest</p>
							<p style="line-height:14px">strength encryption</p>
							<p style="padding-top:5px;padding-bottom:5px;">
								<a href="https://www.comodo.com/repository/trademarks-patents.php" style="color:#66a400;text-decoration:none">US Patent Number 7,603,699</a>
							</p>
							<p>Certificate validity checked at 21-Apr 2018 02:38:33 GMT</p>
							<p style="padding-top:5px;">
								<a href="https://ssl.comodo.com/" style="color:#66a400;text-decoration:none">&copy; Comodo CA Ltd.</a>
							</p>
						<div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(".footer_down_img_small").mouseenter(function(){

		$('.footer_down_img_hidden').stop().fadeIn('slow')

	})
	$(".footer_down_img_small").mouseleave(function(){
		setTimeout(function(){
			$('.footer_down_img_hidden').stop().fadeOut('slow')
		},2000)


	})

</script>


<noscript>

	<div class="message global noscript">
		<div class="content">
			<p>
				<strong>JavaScript seems to be disabled in your browser.</strong>
				<span>For the best experience on our site, be sure to turn on Javascript in your browser.</span>
			</p>
		</div>
	</div>

</noscript>


