<div class="message">
<div id="message_show">
  <div class='message_container'>
     <div class="message_two_child">
        <div class="message_row" index="0">
        <a href="" title=""></a>
           <b class="iconfont message_row_left_b">&#xe6a7;</b>
           <span>x</span>

        </div>
        <div class="message_row" index="1">
            <a href="" title=""></a>
           <b class="iconfont message_row_right_b">&#xe697;</b>
           <span >x</span>
        </div>
     </div>
  </div>
</div>
</div>




























<!--<div class="message">-->
<!--<div id="message_show">-->
  <!--<div class='message_container'>-->
     <!--<div class="message_two_child">-->
        <!--<div class=" message_row_left">-->
        <!--<a href="{{pm_global.property.base_url.text}}{{data.notices.notice_first.url}}" title="{{data.notices.notice_first.title}}">{{data.notices.notice_first.title}}</a>-->
           <!--<b class="iconfont message_row_left_b">&#xe6a7;</b>-->
           <!--<span>x</span>-->
           <!---->
        <!--</div>-->
        <!--<div class="message_row_right">-->
            <!--<a href="{{pm_global.property.base_url}}{{data.notices.notice_sec.url}}" title="{{data.notices.notice_sec.tittle}}">{{data.notices.notice_sec.title}}</a>-->
           <!--<b class="iconfont message_row_right_b">&#xe697;</b>-->
           <!--<span >x</span>-->
        <!--</div>      -->
     <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--</div>-->
