


	<script src="{{ pm_global.property.static_url.text }}/js/jquery.min.js"></script>
    <!--<script src="{{ pm_global.property.static_url.text }}/js/swipe_mobile.js"></script>-->
    <script src="{{ pm_global.property.static_url.text }}/js/boot.min.js"></script>
    <script src="{{ pm_global.property.static_url.text }}/js/scroll.js"></script>
    <script src="{{ pm_global.property.static_url.text }}/js/index.js"></script>
    <script src="{{ pm_global.property.static_url.text }}/js/nav.js"></script>

    <script src="{{ pm_global.property.static_url.text }}/js/ajax_local.js"></script>
    <script src="{{ pm_global.property.static_url.text }}/js/notes.js"></script>

    <script src="{{ pm_global.property.static_url.text }}/fonts/font_tc2ecouc2vivbo6r/iconfont.js"></script>
    <script src="{{ pm_global.property.static_url.text }}/js/jquery.base64.js"></script>
