
    <link rel="stylesheet" href="{{ pm_global.property.static_url.text }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ pm_global.property.static_url.text }}/css/font.css">
    <link rel="stylesheet" href="{{ pm_global.property.static_url.text }}/css/notes.css">
    <link rel="stylesheet" href="{{ pm_global.property.static_url.text }}/css/header.css">
    <link rel="stylesheet" href="{{ pm_global.property.static_url.text }}/css/header_m.css">
    <link rel="stylesheet" href="{{ pm_global.property.static_url.text }}/css/banner.css">
    <link rel="stylesheet" href="{{ pm_global.property.static_url.text }}/css/featured_glasses.css">
    <link rel="stylesheet" href="{{ pm_global.property.static_url.text }}/css/footer_up.css">
    <link rel="stylesheet" href="{{ pm_global.property.static_url.text }}/css/footer_down.css">
    <link rel="stylesheet" href="{{ pm_global.property.static_url.text }}/css/unique_software.css">
    <link rel="stylesheet" href="{{ pm_global.property.static_url.text }}/css/widget_double.css">

    <link rel="stylesheet" href="{{ pm_global.property.static_url.text }}/fonts/font_tc2ecouc2vivbo6r/iconfont.css">
    <link rel="stylesheet" href="{{ pm_global.property.static_url.text }}/fonts/btn_left_right/iconfont.css">
    <link rel="stylesheet" href="{{ pm_global.property.static_url.text }}/fonts/dh/iconfont.css">
    <link rel="stylesheet" href="{{ pm_global.property.static_url.text }}/fonts/new_font/iconfont.css">
    <link rel="stylesheet" href="{{ pm_global.property.static_url.text }}/fonts/gwc/iconfont.css">
    <link rel="stylesheet" href="{{ pm_global.property.static_url.text }}/fonts/dh_m/iconfont.css">
    <link rel="stylesheet" href="{{ pm_global.property.static_url.text }}/fonts/wh/iconfont.css">
    <link rel="stylesheet" href="{{ pm_global.property.static_url.text }}/fonts/x/iconfont.css">

    <link rel="stylesheet" href="{{ pm_global.property.static_url.text }}/fonts/nav/iconfont.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{ pm_global.property.static_url.text }}/images/logo_small_110.jpg">