
<div class='unique_software container'>
	<div class='pg_width100_s row'>
			
		<div class='pg_width100_s_left col-lg-4 col-md-4 col-sm-4 col-xs-12'>
			<h3 class='pg_width100_s_left_h3_left'>{{data.unique_software.left_content.title}}</h3>
			<p class='pg_width100_s_left_p_left'>{{data.unique_software.left_content.text}}</p>
		</div>
		<div class='col-lg-4 col-md-4 col-sm-4 col-xs-12 pg_width100_s_left_middle'>
		
			<img src="{{ pm_global.property.static_url.text }}{{data.unique_software.middle_img}}" alt="" class='pg_width100_man1 '>
				
					<div class='pg_man_line_left1'> </div>
					<div class='pg_man_line_right1'></div>
				
			</img>

		</div>
		
		<div class='pg_width100_s_right col-lg-4 col-md-4 col-sm-4 col-xs-12'>
			<h3 class='pg_width100_s_left_h3_right '>{{data.unique_software.right_content.title}}</h3>
			<p class='pg_width100_s_left_p_right'>{{data.unique_software.right_content.text}}</p>
		</div>
		
		<img src="{{ pm_global.property.static_url.text }}{{data.unique_software.middle_img}}" alt="" class='pg_width100_man '>
				
			<div class='pg_man_line_left'></div>
			<div class='pg_man_line_right'></div>
				
		</img>
	</div>
	
</div>
