

<div class='container widget_down_all'>		
	<div class='widget_down row'>
		<div class='smarter col-lg-6 col-md-6 col-sm-6 col-xs-12'>
			<img src="{{ pm_global.property.static_url.text }}{{data.widget_double.img_left.img}}" alt="" class='smarter_img'>
				<div class="smarter_img_div">
					<strong>{{data.widget_double.img_left.title}}</strong>
					<p>{{data.widget_double.img_left.text}}</p>
				</div>
			</img>

		</div>
		<div class='added  col-lg-6 col-md-6 col-sm-6 col-xs-12'>
			<img src="{{ pm_global.property.static_url.text }}{{data.widget_double.img_right.img}}" alt="" class='added_img'>
				<div class="added_img_div">
					<strong>{{data.widget_double.img_right.title}}</strong>
					<p>{{data.widget_double.img_right.text}}</p>
				</div>
			</img>
		</div>

	</div>
	
</div>











