@media only screen and (max-width: 768px) {
  .text_public {
    text-decoration: none;
  }
  .color_public {
    color: #f90;
  }
  .ul_public {
    list-style-type: none;
  }
  .margin_public {
    margin: 0.05rem auto;
  }
  .border_bottom {
    border-bottom: 1px solid #f90;
  }
  .public_block {
    display: block;
    width: 100%;
  }
  .absolut_left {
    position: absolute;
    left: 50%;
  }
  .position_public {
    width: 100%;
    height: 0.5rem;
  }
  .position_absolute_public {
    position: absolute;
    height: 0.4rem;
  }
  header {
    position: absolute;
    height: 0.4rem;
    position: relative;
    z-index: 999;
    left: 50%;
    margin-left: -50%;
    background-color: black;
  }
  .header_div_m {
    width: 100%;
    height: 0.5rem;
    margin: 0px auto;
  }
  .header_div_m_left {
    position: absolute;
    height: 0.4rem;
    left: 50%;
    width: 20%;
    margin: 0.05rem auto 0.05rem -50%;
  }
  .header_div_m_left b {
    margin-left: 0.2rem;
    display: block;
    width: 0.6rem;
    line-height: 0.3rem;
    height: 0.3rem;
    font-size: 0.3rem;
    color: #f90;
    margin: 0.05rem auto;
  }
  .header_div_m_logo {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 0.3rem;
    margin: 0.05rem auto 0.05rem -25%;
  }
  .header_div_m_logo img {
    display: block;
    width: 0.4rem;
    height: 0.3rem;
    margin: 0.05rem auto;
  }
  .header_div_m_shop {
    position: absolute;
    height: 0.4rem;
    width: 20%;
    left: 50%;
    margin: 0.05rem auto 0.05rem 30%;
  }
  .header_div_m_shop b {
    display: block;
    width: 0.3rem;
    height: 0.3rem;
    font-size: 0.22rem;
    margin: 0px auto;
    color: #f90;
  }
  .header_div_m_shop_message {
    display: block;
    width: 10%;
    height: 0.1rem;
    margin: 0px auto;
    font-size: 0.11rem;
    color: #f90;
  }
  .header_div_m_left_show {
    position: absolute;
    left: 50%;
    margin-left: -50%;
    width: 100%;
    height: 10rem;
    background-color: black;
    opacity: 0.9;
    display: none;
  }
  .header_div_m_left_show_h1 {
    width: 90%;
    height: 0.2rem;
    margin: 0.2rem auto 0px;
    border-bottom: 1px solid #f90;
  }
  .header_div_m_left_show_h1_h1 {
    display: block;
    width: 50%;
    margin: 0px auto;
    height: 0.2rem;
    line-height: 0.2rem;
    text-align: center;
    font-size: 0.16rem;
    color: #fff;
  }
  .header_div_m_left_ul {
    list-style-type: none;
    width: 100%;
    height: auto;
    background-color: red;
  }
  .header_div_m_left_ul > li {
    border-bottom: 1px solid #f90;
    width: 90%;
    height: 0.4rem;
    margin: 0px auto;
    overflow: hidden;
  }
  .header_div_m_left_ul h1 {
    margin: 0.05rem auto;
    height: 0.3rem;
    display: block;
    width: 100%;
  }
  .header_div_m_left_ul a {
    display: block;
    width: 100%;
    height: 0.3rem;
    line-height: 0.3rem;
    margin: 0rem auto;
    font-size: 0.16rem;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
  .header_div_m_left_show_search {
    width: 90%;
    height: 1rem;
    margin: 0px auto;
    background-color: #add;
  }
  .header_div_m_left_show_search .border_bottom h2 {
    width: 0.4rem;
    height: 0.4rem;
    margin: 0px auto;
    display: block;
    font-size: 0.4rem;
  }
  .header_div_m_left_show_search .border_bottom h2 i {
    font-size: 0.4rem;
    color: #fff;
  }
  .header_div_m_left_show_search input {
    display: block;
    width: 50%;
    height: 0.4rem;
    margin: 0.05rem auto 0rem;
    border: 1px solid #aaa;
    outline: 0px;
    border-radius: 0.06rem;
  }
  .header_div_m_left_show_shop {
    width: 90%;
    height: 2.9rem;
    position: absolute;
    right: 50%;
    margin-right: -45%;
    background-color: #eee;
    border: 0.03rem solid #eee;
    border-top: 0.1rem solid #f90;
    border-radius: 0.15rem;
    display: none;
  }
  .header_div_m_left_show_shop_close {
    width: 95%;
    height: 0.15rem;
    margin: 0.1rem auto;
  }
  .header_div_m_left_show_shop_close b {
    font-size: 0.18rem;
    color: #aaa;
    cursor: pointer;
  }
  .header_div_m_left_show_shop_close b:hover {
    color: #f90;
  }
  .header_div_m_left_show_shop_close b:active {
    color: #f90;
  }
  .header_div_m_left_show_shop_message {
    width: 90%;
    height: 1.8rem;
    margin: 0px auto;
    margin-top: 0.02rem;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    /*overflow: hidden;*/
  }
  .header_div_m_left_show_shop_message_left {
    width: 50%;
    height: 1.8rem;
    float: left;
    /*background-color: blue; */
  }
  .header_div_m_left_show_shop_message_left_h2 {
    width: 100%;
    display: block;
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.13rem;
    text-indent: 0.1rem;
    border-left: 0.015rem solid #f90;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #f90;
  }
  .header_div_m_left_show_shop_message_left_div {
    width: 100%;
    height: 1.5rem;
    border: 1px solid #aaa;
    border-bottom: 0px solid #aaa;
    /*border-left: 0px;*/
    margin-top: 0px;
    border-radius: 2px;
  }
  .header_div_m_left_show_shop_message_left_div_div {
    width: 100%;
    height: 0.75rem;
  }
  .header_div_m_left_show_shop_message_left_div_div h2 {
    margin: 0.15rem auto 0px;
    width: 75%;
    height: 0.3rem;
    line-height: 0.3rem;
    text-align: center;
    display: block;
    background-color: #f90;
    font-size: 0.15rem;
    border-radius: 0.05rem;
    color: #fff;
  }
  .header_div_m_left_show_shop_message_left_div_div h2:hover {
    background-color: #e80;
  }
  .header_div_m_left_show_shop_message_left_div_div h3 {
    margin: 0rem auto ;
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    text-align: center;
    display: block;
    font-size: 0.14rem;
    box-shadow: 0px 2px 2px #999;
  }
  .header_div_m_left_show_shop_message_left_div_div span {
    color: #000;
  }
  .header_div_m_left_show_shop_message_left_div_div a {
    margin-left: 0.05rem;
    text-decoration: none;
    color: #f90;
    font-size: 0.135rem;
  }
  .header_div_m_left_show_shop_message_left_div_div a:hover {
    text-decoration: underline;
  }
  .header_div_m_left_show_shop_message_right {
    width: 49%;
    height: 1.8rem;
    float: right;
    margin-right: 1%;
  }
  .header_div_m_left_show_shop_message_right_div {
    clear: both;
    width: 100%;
    height: 0.3rem;
    /*background-color: #f00;*/
    margin: 0px auto;
  }
  .header_div_m_left_show_shop_message_right_div h2 {
    display: block;
    width: 100%;
    height: 0.3rem;
    /*background-color: #fff;*/
    margin: 0px auto;
  }
  .header_div_m_left_show_shop_message_right_div h2 b {
    display: block;
    width: 0.15rem;
    height: 0.3rem;
    line-height: 0.3rem;
    margin: 0px auto;
    color: #f90;
    font-size: 0.05rem;
    /*background-color: black;*/
    float: left;
  }
}
